[Unit]
Description=Elixir Practice

[Service]
Type=simple
User=homework3
Group=homework3
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/homework3/webdevhw03
ExecStart=/home/homework3/webdevhw03/start.sh

[Install]
WantedBy=multi-user.target
